# name of the veeam backup job as set in veeam!
JOBNAME="Job-Tiffany"
# the sender email address
EMAILFROM="Tiffany.Test@example.tld"
# the sender email address
SENDERNAME="Tiffany Test"
# receiver email address
EMAILTO="backup@example.tld"
EMAILCCTO=""
# directory of mail template file
HTMLTEMPLATE="/opt/vee-mail/vee_mail_template.html"
# if curl is installed vee-mail may check for new version if set to 1
SKIPVERSIONCHECK=0
# if you backup to a smb-share fill in your credentials to get infos about free backup space
SMBUSER=""
SMBPWD=""
# if set to 1 get more debug output on script run
DEBUG=0
